*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: 36, 228, 242;
    --back-color: 0, 32, 58;

    --bg: rgb(var(--back-color));
    --fg: rgb(var(--text-color));

    --border: rgba(var(--text-color), 0.6)
}

html,
body {
    cursor: none;
    overflow: hidden;
}

body {
    display: grid;
    place-content: center;

    user-select: none;

    height: 100dvh;

    background-color: black;

    font-family: sans-serif;
    font-weight: bold;
}

/* style: cursor */
#cursor {
    pointer-events: none;
    opacity: 0;
    width: 3vmin;
    height: 3vmin;
    position: absolute;
    filter: drop-shadow(0 1px 0 var(--fg)) drop-shadow(0 -1px 0 var(--fg)) drop-shadow(1px 0 0 var(--fg)) drop-shadow(-1px 0 0 var(--fg)) blur(0.5px);
    transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out 1.5s;
    transform: scale(0);
    z-index: 10;
}

#cursor:before {
    content: "";
    transition: 0.3s ease-in-out 0.2s;
    position: absolute;
    background: var(--bg);
    clip-path: polygon(1% 0%, 35% 100%, 53% 58%, 100% 48%);
    width: 100%;
    height: 100%;
}

body:active #cursor:before {
    background: var(--fg);
    transition: 0s;
}

body.loaded #cursor {
    transform: scale(1);
}

body.loaded:hover #cursor {
    opacity: 1;
}

/* style: loader */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    place-content: center;
    gap: 1rem;
    background-color: var(--bg);
    color: var(--fg)
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading svg {
    animation: spin 1s linear infinite;
}

/* logo */
.logo {
    display: flex;
    align-items: center;
    gap: 0;
    width: max-content;
    margin: 0 auto;
}

.logo img { 
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 0;
}

/* style: app container */
#app {
    transition: 1s ease-in-out 3s;
    filter: opacity(0);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;

    border: 5px solid rgba(var(--text-color), 0.1);

    background-color: var(--bg);
    color: var(--fg);

    text-transform: uppercase;
}

@media screen and (min-width: 900px) {
    #app { width: max-content; }
}

body.loaded #app {
    transition: 1s ease-in-out 0s;
    filter: opacity(1);
}

#app > * {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--border);
}

header {
    font-size: larger;
}

header > div:first-child {
    flex-grow: 1;
    border-right: 1px solid var(--border);
    padding-right: 1rem;
}

main {
    max-width: 900px;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    max-width: 900px;
}

footer {
    padding: 0.25rem;
}

footer > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: small;
    text-align: center;
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer > div > span:first-child {
    display: block;
    border: 1px solid var(--border);

    transition: 1s ease-in-out 0s;
}

footer > div > span:first-child::after {
    content: " ";
    display: block;
    width: var(--progress, 0%);
    height: 2.5dvh;
    background-color: var(--fg);
    border: 1px solid var(--border);
    transition: 1s ease 0s;
}

td {
    padding: 0.75rem 1rem;
    width: 1rem;
    height: 1rem;
    opacity: 0.65;
    text-align: center;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 1px;
}
/* background */
::-webkit-scrollbar-track {
    background: transparent;
}
/* handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}
/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}
/* firefox only */
* {
    scrollbar-width: 1px;
    scrollbar-color: transparent transparent;
}

/* animation */
td {
    --name: "";
    --duration: 1;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-name: var(--anime);
    animation-duration: var(--duration);
}

@keyframes float-bottom {
    0% {
        padding-bottom: 0;
        padding-top: 0;
    }

    50% {
        padding-bottom: 5px;
        padding-top: 0;
    }

    100% {
        padding-bottom: 0;
        padding-top: 0;
    }
}

@keyframes float-left {
    0% {
        padding-left: 0;
        padding-right: 0;
    }

    50% {
        padding-left: 5px;
        padding-right: 0;
    }

    100% {
        padding-left: 0;
        padding-right: 0;
    }
}

/* audio */
audio {
    display: none;
}